
.banner {
  background: linear-gradient(180deg,rgba(19,19,19,0),rgba(0,0,0,0.4)), url(../../images/penzance.jpg);
  background-size: cover;
  padding-bottom: 80px;
  padding-top: 102px;
  margin-bottom: 50px;
  padding-right: 50px;
  }
