.container {
  max-width: 1040px;
  margin: auto;
}

.container h2  {
  text-align: center;
  font-size: 48px;
  font-weight: 400;
}

.cards {
  display: flex;

}

.card {
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  border-style: none;
  padding: 20px;
  height: 315px;
}


.card:hover {
  box-shadow: 0 10px 30px rgba(0,0,0,.3);

}


.card a {
    text-decoration:none;
    color: black;

}

.card h3 {
  text-align: center;
  font-weight: 400;
}

.card p {
  text-align: center;
  font-weight: 300;
}

.card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



