.list {
list-style-type: none;
margin-top: 60px;
padding-top: 108px;
padding-bottom: 86px;
background-color: black;
color: white;
text-align: center;
}

.list li {
display: inline-block;
margin-right: 20px;
margin-left: 20px;
transition: all 0.5s;
}

.list li:hover {
color: #FCAE18;
}

