
.container-intro {
    max-height: 458px;
    max-width: 540px;
    margin-left: 165px;
}

.container-intro h1 {
    max-width: 400px;
    max-height: 374px;
    font-size: 72px;
    margin-bottom: 16px;
    font-weight: 700;
    color: white;
}


.container-intro p {
    font-size: 18px;
    color: white;
}


@media(max-width: 1350px) {


  .container-intro {

    margin-top: 2px;
    margin-left: 50px;
    margin-bottom: 50px;

}

.container-intro h1 {
}


.container-intro p {
  max-width: 280px;


}

}

