
.container-intro {
    max-height: 458px;
    max-width: 540px;
    margin-top: 119px;
    margin-left: 165px;
}

.container-intro h1 {
    max-width: 400px;
    max-height: 374px;
    font-size: 72px;
    margin-bottom: 16px;
}


.container-intro p {
    font-size: 18px;
}
